@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>
<div id="searchBar">
    <input type="text" id="Search" />
    <input type="submit" value="Search" id="PetSearch" />
</div>
<div>
    @{
        foreach (var Pet in Model)
        {
            <div>
                <span><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
                <span>@Pet.Species.Name</span>
                <span>@Pet.Weight</span>
                <span>
                    <a href='@Url.Action("Update", "Pet", new { id = Pet.PetID})' class="btn btn-xs">Update</a>
                    <a href='@Url.Action("Delete", "Pet", new { id = Pet.PetID})' class="btn btn-xs">Delete</a>
                </span>
               
            </div>
        }
    }
</div>

<a href='@Url.Action("Add","Pet")' class="btn btn-success">Add New Pet</a>