@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>Current List of Customer Pets</h2>
<div id="searchBar">
    <input type="text" id="Search" />
    <input type="submit" value="Search" id="PetSearch" />
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Species</th>
                <th>Weight</th>
            </tr>
        </thead>
            <tbody>

                @{
                    foreach (var Pet in Model)
                    {
                        <tr>
                            <td><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></td>
                            <td>@Pet.Species.Name</td>
                            <td>@Pet.Weight KG</td>
                            <td>
                                <a href='@Url.Action("Update", "Pet", new { id = Pet.PetID})' class="btn btn-xs">Update</a>
                            </td>

                        </tr>
                    }
                }


            </tbody>
    </table>



</div>

<a href='@Url.Action("Add","Pet")' class="btn btn-success">Add New Pet</a>