@model PetGrooming.Models.Pet

@{
    ViewBag.Title = "Show";
}

<h2>Show Pet</h2>

<a href="">Back to List</a>
<div id="showPet">
    <div>Name : @Model.PetName</div>
    <div>Weight : @Model.Weight</div>
    <div>Species : @Model.Species.Name</div>
</div>


<div>

    <a href='@Url.Action("Update", "Pet", new { id = Model.PetID})' class="btn btn-warning">Update</a>
    <a href='@Url.Action("Delete", "Pet", new { id = Model.PetID})' class="btn btn-warning">Delete</a>

</div>
