@model PetGrooming.Models.Pet

@{
    ViewBag.Title = "Show";
}

<h2>Details for  @Model.PetName</h2>


<div id="showPet">
    <div>Name : @Model.PetName</div>
    <div>Weight : @Model.Weight KG</div>
    <div>Species : @Model.Species.Name</div>
</div>


<div>

    <a href='@Url.Action("Update", "Pet", new { id = Model.PetID})' class="btn btn-warning">Update</a>
    <a href='@Url.Action("Delete", "Pet", new { id = Model.PetID})' class="btn btn-warning">Delete</a>

</div>
<div>
    <a href="/Pet/List">Back to List</a>
</div>